.containercircles {
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
}
.cont {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.col-lg-4 {
	width: 50%;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
.contact-me-temp {
	padding-top: 300px;
	padding-bottom: 300px;
	text-align: center;
}
.row {
	margin-right: auto;
	margin-left: auto;
}
.cont {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.in.collapse+ a.btn.showdetails:before {
	content: 'Hide details «';
}
.collapse+ a.btn.showdetails:before {
	content: 'Show details »';
}
.img-circle {
  border-radius: 50%;
  object-fit:cover;
}