.projectHrContainer {
	margin-right: 200px;
	margin-left: 200px;
}
.projectHrSplit {
	margin-right: 220px;
	margin-left: 220px;
}
.containercircles {
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 5px;
	padding-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
}
.cont {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.col-lg-8 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	text-align: center;
}
.col-lg-4 {
	width: 50%;
	margin: 0 auto;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
.contact-me-temp {
	padding-top: 300px;
	padding-bottom: 300px;
	text-align: center;
}
.row {
	margin-right: auto;
	margin-left: auto;
}
.cont {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.in.collapse+ a.btn.showdetails:before {
	content: 'Hide details «';
}
.collapse+ a.btn.showdetails:before {
	content: 'Show details »';
}
.img-circle {
	border-radius: 50%;
	object-fit: cover;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 5px solid #b2b2b2;
}
.projectDivider {
	margin-top: 10px;
	margin-bottom: 15px;
	border: 0;
	border-top: 2px solid #eee;
}
.projectDivider2 {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 4px solid #b2b2b2;
}
.left {
	float: left;
}
.right {
	float: right;
}
.jumbotron {
	padding: 30px 15px;
	margin-bottom: 30px;
	color: inherit;
	background-color: #ffffff;
}