.browsehappy {
  margin: 0.2em 0;
  /*background: #ccc;*/
  background: #212124;
  color: #000;
  padding: 0.2em 0;
}

a:link {
    color: inherit;
}

.trans {
    background: rgba(248, 248, 248, 0.7);
}

.larger {
    height: 50px;
    width: 50px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.img-desc {
    padding-top: 10px;
    font-weight: 300;
}

.img {
    padding-bottom: 15px;
}

.navbar .navbar-collapse {
  text-align: center;
}

#main-hr {
    border-width: medium;
    width: 70%;
}

#post-hr {
    width: 50%;
}

body {
  padding: 0;
  /*padding-top: 70px;*/
  font-family: 'Lato', sans-serif;
  font-size: 1.9em;
}

.center {
    text-align: center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
    text-align: center;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background: rgba(0,0,0,0);
  border-radius: 0 !important;
}

.post-title {
    font-size: 2em;
    background: rgba(255, 255, 255, 0.3);
    display: inline-block;
    padding: 0px 20px 10px 20px;
}

.row-post {
    opacity: 0.9;
    text-align: center;
    margin: 50px 0px 50px 0px;
    padding: 150px 0px 150px 0px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#slovenia {
    background-image: url('../images/sloo.jpg');
}

#lju {
    background-image: url('../images/lju.jpg');
}

#redwoods {
    background-image: url('../images/redwoods.jpg');
}

#cali {
    background-image: url('../images/cali.jpg');

}

.description {
    font-weight: 300;
    width: 80%;
    text-align: center;
    padding-bottom: 40px;
    margin-left: 10%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
