---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact - Ben Barnes">
  <p>
    <b>Email</b> - benjaminrbarnes@gmail.com<br />
    <b>Instagram</b> - <a href="https://www.instagram.com/benjaminbarnes/">@benjaminbarnes</a><br />
    <b>LinkedIn</b> - <a href="https://www.linkedin.com/in/benjaminrbarnes/">Benjamin Barnes</a>
  </p>
</Layout>
