---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Notepad - Ben Barnes">
  <p>
    <a href="https://benjaminrbarnes.notion.site/Website-Thoughts-c7936989cd364dd9979a5a8d104e86e8?pvs=4">Notepad</a>
  </p>
</Layout>
