<div class="jumbotron">
    <h1>About</h1>
</div>
<hr id="main-hr">

<div class="center">
    <h2>Benjamin Barnes</h2>
</div>
<div class="row img-desc">
    <div class="col-md-4 center">
        <p>
            I am a recent University of Oregon graduate, working full time
            as a Software Engineer at
    		<a href="http://www.cbtnuggets.com/" target="_blank"><u>CBT Nuggets</u></a>.
            <br>
            <br>
            Most of my experience lies in
            web and Android development but I am proficient with Java, Javascript, Node.js, Angular.JS,
    		Git, and HTML. I am also familiar with SQL,
    		MongoDB, Redis, Python, and C/C++.
            <br>
            <br>
            <b>Things I sometimes do often:</b> take photos, drink &amp; roast coffee,
            ride motorcycles, read non-fiction, listen to music, learn, explore new technologies, engineer software, tend to my plants, travel
            <br>
            <b>Things I am fascinated by:</b> smart people, architecture, MMA, space, beards, design,
            <a href="https://www.reddit.com/r/DadReflexes/top/?sort=top&t=year" target="_blank"><u>dad reflexes</u></a>,
             Tesla, stocks, meditation, men's fashion
    	</p>
    </div>
    <div class="col-md-8">
        <div class="img">
            <a href="https://www.flickr.com/photos/fatalpics/26454729563/in/album-72157664661589194/" title="IMG_1596"><img src="https://farm8.staticflickr.com/7347/26454729563_72e359b70b_b.jpg" width="100%" height="100%" alt="IMG_1596"></a>
        </div>
        <div class="img">
            <a data-flickr-embed="true"  href="https://www.flickr.com/photos/fatalpics/26434585413/in/album-72157668133320022/" title="IMG_1777"><img src="https://farm8.staticflickr.com/7687/26434585413_4e57a16c61_b.jpg" width="100%" height="100%" alt="IMG_1777"></a>
        </div>
    </div>
</div>
