<div class="jumbotron">
    <h1>About</h1>
</div>
<hr id="main-hr">

<div class="center">
    <h2>Benjamin Barnes</h2>
</div>
<div class="row img-desc">
    <div class="col-md-4 center">
        <p>
            I am a University of Oregon graduate, working full time
            as a Software Engineer at
    		<a href="http://www.cbtnuggets.com/" target="_blank"><u>CBT Nuggets</u></a>.
            <br>
            <br>
            Most of my experience lies in
            web development, specifically Javascript, Node.js, React.js, Git, and MongoDB.
            <br>
            <br>
            <b>Things I sometimes do often:</b> take photos, drink &amp; roast coffee,
            ride motorcycles, read non-fiction, listen to music, learn, explore new technologies, engineer software, tend to my plants, travel
            <br>
            <b>Things I am fascinated by:</b> smart people, architecture, MMA, space, beards, design,
            <a href="https://www.reddit.com/r/DadReflexes/top/?sort=top&t=year" target="_blank"><u>dad reflexes</u></a>,
             Tesla, stocks, meditation, men's fashion
    	</p>
    </div>
    <div class="col-md-8">
        <div class="img">
            <img src="https://c2.staticflickr.com/9/8681/30551472465_f76d34f39e_k.jpg" width="100%" height="100%" alt="Untitled">
        </div>
        <div class="img">
            <img src="https://farm8.staticflickr.com/7347/26454729563_72e359b70b_b.jpg" width="100%" height="100%" alt="IMG_1596">
        </div>
    </div>
</div>
