<a id="topFromBottom"></a>
<div class="jumbotron row-post bottom" id="jess">
    <h1 class="post-title" id="top">Waterfalls</h1>
</div>
<div class="description">
    A set of photos from Jessica's visit to Oregon.
</div>
<hr id="post-hr">

<div class="center">
  <h4 class="img-desc">A short video made from footage I recorded. </h4>
  <iframe src="https://player.vimeo.com/video/187565411" width="1024" height="576" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/187565411">These Days</a> from <a href="https://vimeo.com/benbarnes">Ben</a> on Vimeo.</p>
    <div class="img">
        <img src="https://c6.staticflickr.com/9/8570/29918238613_a1527780f4_k.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c3.staticflickr.com/9/8669/29920982674_fd8a608524_k.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c6.staticflickr.com/6/5341/30463943701_3edd363507_k.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/6/5548/30551496675_9b0989ea4e_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/6/5524/30463938851_a197bac042_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/6/5695/30551491025_33a8150bf1_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c1.staticflickr.com/6/5760/30515547856_cbebac2fb4_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/6/5608/30551486305_8a0edeba52_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/6/5709/30515545836_d3e42d19ce_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/6/5449/30551480135_57f8cc1cda_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/6/5826/30551479215_03803fae63_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c1.staticflickr.com/6/5662/30434891992_bda6141d93_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/6/5810/30551476295_cd5456fbeb_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c7.staticflickr.com/6/5668/30434889062_f9f7da08e6_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/9/8681/30551472465_f76d34f39e_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c6.staticflickr.com/6/5491/29918208813_3f440bd678_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/6/5577/30551468635_f79e061064_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/6/5462/30551467275_ca2be81d13_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c6.staticflickr.com/6/5737/30551464845_7cf7ad5ff2_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/6/5818/30551462105_046837e173_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/9/8679/30551460105_df7dc91893_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/9/8621/30551457035_39ab6c6ee1_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/6/5471/30551454985_f6cf674a06_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/6/5682/30463890971_cb0bf67d6a_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c6.staticflickr.com/6/5327/30551452045_342bfa70a7_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c1.staticflickr.com/6/5785/29920897944_a8c9c58e24_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/6/5613/30551449415_85a43b2608_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c7.staticflickr.com/9/8614/29920891774_aaf1e07a05_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/6/5542/30551446985_7de1fbddde_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c7.staticflickr.com/6/5517/29920881534_9f159208a1_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c1.staticflickr.com/9/8620/30252873560_0da61d9fb5_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/9/8648/30463870111_f8ef3adee4_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/6/5836/30463868691_e28b0351aa_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/9/8661/30463866671_511e21a4b6_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/6/5482/30463865351_c476673244_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/6/5584/30551430115_f4d6a5aa57_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/6/5550/30551427305_74e33188ee_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c1.staticflickr.com/6/5494/30515500616_8619fa976a_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/6/5516/30551420555_856b2e849f_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c1.staticflickr.com/6/5447/30515494776_e2567dfcac_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/6/5700/30551411635_fa15b5cce7_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/9/8679/29918148913_5e5ec335f9_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/6/5644/30434825012_e90967643d_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/6/5521/29918142513_15cc12f07f_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c1.staticflickr.com/6/5582/30434818872_d72bd1cc80_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/6/5817/30551402895_2910b82c53_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c6.staticflickr.com/6/5647/30551400685_afeca8be88_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/6/5490/30551398915_22eb778288_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/6/5760/30515458916_f963ac6d7a_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/6/5792/30551396695_d60a22501a_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/6/5588/30515453796_6e58cc1c8f_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/6/5803/30551394305_66232faa51_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/9/8562/29920831324_d5c89b537f_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/6/5448/30515447156_284aae9f19_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c3.staticflickr.com/6/5517/29920828474_7053552e61_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/6/5806/30515443916_d6b03ae234_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c7.staticflickr.com/6/5697/29920827054_56f9981d3e_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/6/5547/30515439076_a282b594be_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c3.staticflickr.com/6/5619/30515435226_bde0a85faf_k.jpg" width="75%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/6/5821/29918101923_ebeefc20f8_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/6/5489/29920815404_0eab941c05_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/6/5529/29920811964_5f686deaf4_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/6/5444/29918091063_12884b7ffd_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c1.staticflickr.com/6/5816/29920806944_dd416d6ef5_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>
    <div class="img">
        <img src="https://c7.staticflickr.com/6/5560/30515425086_99e931b3bb_k.jpg" width="100%" height="100%" alt="Untitled"></a>
    </div>



    <div>
        <a ng-href="#/#blip"><p><span class="glyphicon glyphicon-arrow-left"></span> Back to blog</p></a>
        <a ng-href="#/blip/#topFromBottom"><p><span class="glyphicon glyphicon-arrow-up"></span> Back to top</p></a>
    </div>
</div>
