<div class="jumbotron">
    <h1>Blog</h1>
</div>
<hr id="main-hr">

<a class="post-link" ng-href="#/omaha">
    <div class="row row-post bottom" id="omaha">
        <div class="post-title">
            <h1>Omaha Road Trip</h1>
            <h3>August 19, 2016</h3>
        </div>
    </div>
</a>

<hr id="post-hr"/>

<a class="post-link" ng-href="#/redwoods/#navbar">
    <div class="row row-post" id="redwoods">
        <div class="post-title">
            <h1>Redwoods &amp; Coast</h1>
            <h3>July 10, 2016</h3>
        </div>
    </div>
</a>

<hr id="post-hr"/>

<a class="post-link" ng-href="#/slovenia#">
    <div class="row row-post" id="slovenia">
        <div class="post-title">
            <h1>Slovenia</h1>
            <h3>May 20, 2016</h3>
        </div>
    </div>
</a>
