<div class="jumbotron">
    <h1>Blog</h1>
</div>
<hr id="main-hr">

<a class="post-link" ng-href="#/slovenia#navbar">
    <div class="row row-post" id="slovenia">
        <div class="post-title">
            <h1>Slovenia</h1>
            <h3>May 16, 2016</h3>
        </div>
    </div>
</a>

<hr id="post-hr"/>

<!-- <a class="post-link" ng-href="#/redwoods/#navbar"> -->
    <div class="row row-post" id="redwoods">
        <div class="post-title">
            <h1>Redwoods &amp; Coast</h1>
            <h3>Coming soon</h3>
        </div>
    </div>
<!-- </a> -->
