<div class="jumbotron row-post bottom" id="omaha1">
    <h1 class="post-title" id="top">Omaha Road Trip</h1>
</div>
<div class="description">
    A small set of photos taken on a short road trip from Oregon to Omaha. Most
    were taken while driving so please excuse the lack of composition :)
</div>
<hr id="post-hr">

<div class="center">
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <div class="img">
        <img src="https://c3.staticflickr.com/9/8668/28192558354_6a20f61b4e_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/9/8897/28194853353_a24850fb31_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/9/8316/28525568580_926535af02_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/9/8696/28194857143_bc3ffe532e_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c7.staticflickr.com/9/8682/28525572750_42aafc908e_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/9/8737/28704885092_83fa4c906f_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c3.staticflickr.com/9/8709/28525577330_e667b43937_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c3.staticflickr.com/9/8820/28192584594_c372d4eff4_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/9/8635/28733190031_0d3c3e3096_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c1.staticflickr.com/8/7576/28192593784_9888f0ab13_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c1.staticflickr.com/8/7639/28192599904_7fb52db157_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c6.staticflickr.com/9/8753/28733203541_5a82a1a3f8_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/8/7721/28733208041_36f59dda68_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/8/7759/28733211411_427762da45_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/9/8593/28733215641_19d54c6d90_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c4.staticflickr.com/9/8620/28194889883_27936cc0a8_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c7.staticflickr.com/8/7645/28778479886_e0451c646d_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c3.staticflickr.com/9/8719/28192636834_c1b0e267a6_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c5.staticflickr.com/9/8718/28192640204_4125a62dde_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c8.staticflickr.com/9/8200/28733233911_0718716fc5_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c7.staticflickr.com/9/8769/28704939102_770dbd1110_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c7.staticflickr.com/9/8833/28704944462_d62f2d7fae_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c2.staticflickr.com/9/8755/28733246721_a5b6a4ce9b_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>
    <div class="img">
        <img src="https://c6.staticflickr.com/9/8551/28733171501_a666264920_b.jpg" width="100%" height="100%" alt="Untitled">
    </div>


    <div>
        <a ng-href="#/#omaha"><p><span class="glyphicon glyphicon-arrow-left"></span> Back to blog</p></a>
        <a ng-href="#/omaha/#top"><p><span class="glyphicon glyphicon-arrow-up"></span> Back to top</p></a>
    </div>
</div>
