<div class="jumbotron row-post" id="cali">
    <h1 class="post-title" id="top">Redwoods &amp; Coast</h1>
</div>
<div class="description">
    A motorcycle trip down the Oregon Coast to the California Redwoods
</div>
<hr id="post-hr">

<!-- <a href=""
socialshare
socialshare-provider="twitter"
socialshare-text="Motocamping in the Redwoods"
socialshare-hashtags="motocamping"
socialshare-url="http://benjaminbarnes.co/#redwoods">
Share on Twitter
</a>
<a href=""
socialshare
socialshare-provider="pinterest"
socialshare-text="Motocamping in the California Redwoods"
socialshare-url="http://benjaminbarnes.co/#redwoods"
socialshare-media="http://benjaminbarnes.co/images/splash.jpg">
Share on Pintrest
</a> -->

<div class="center">
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <h4 class="img-desc">Luggage mount installation</h4>
    <div class="img"><img src="https://farm8.staticflickr.com/7353/27004856296_f74cd43ae7_h.jpg" width="100%" height="100%" alt="IMG_1710"></div>
    <h4 class="img-desc">Morning of departure</h4>
    <div class="img"><img src="https://farm8.staticflickr.com/7648/26944019072_e0918f4f2d_h.jpg" width="100%" height="100%" alt="2016-05-15 03.39.17 1"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7543/26969655951_317e8e6ec2_h.jpg" width="100%" height="100%" alt="IMG_1723"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7590/26763878670_ca4205b9ef_h.jpg" width="100%" height="100%" alt="IMG_1726"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7772/27038366825_bd332028e0_h.jpg" width="100%" height="100%" alt="IMG_1730"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7584/26763882470_225543f1ee_h.jpg" width="100%" height="100%" alt="IMG_1733"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7027/27038373925_77a525dcb6_h.jpg" width="100%" height="100%" alt="IMG_1736"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7389/27038378495_f2c415c3c6_h.jpg" width="75%" height="100%" alt="IMG_1745"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7075/26763885680_720abe5a28_h.jpg" width="100%" height="100%" alt="IMG_1747"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7077/27004868246_7bc1318677_h.jpg" width="100%" height="100%" alt="IMG_1750"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7048/26763922090_eadcb448f1_h.jpg" width="75%" height="100%" alt="2016-05-13 05.12.41 1"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7339/26763887350_2e82096cba_h.jpg" width="100%" height="100%" alt="IMG_1753"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7427/27004869816_ec3d6df7ae_h.jpg" width="100%" height="100%" alt="IMG_1755"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7511/27004871136_8cebf7a0c0_h.jpg" width="100%" height="100%" alt="IMG_1760"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7749/26763890330_0e38a455d5_h.jpg" width="100%" height="100%" alt="IMG_1761"></div>
    <h4 class="img-desc">Port Oxford</h4>
    <div class="img"><img src="https://farm8.staticflickr.com/7319/26434583883_5ab0324c76_h.jpg" width="100%" height="100%" alt="IMG_1766"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7055/26969684421_a221df4eb4_h.jpg" width="100%" height="100%" alt="IMG_1767"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7687/26434585413_2ff4e871d9_h.jpg" width="100%" height="100%" alt="IMG_1777"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7329/26969687251_fe9bb200c4_h.jpg" width="100%" height="100%" alt="IMG_1780"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7101/26969688701_6dddf07f18_h.jpg" width="100%" height="100%" alt="IMG_1781"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7049/26969689681_9f684e44b6_h.jpg" width="100%" height="100%" alt="IMG_1786"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7265/26969690801_0e4d86f869_h.jpg" width="100%" height="100%" alt="IMG_1788"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7010/26969691891_dfdd67fb4e_h.jpg" width="100%" height="100%" alt="IMG_1791"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7752/26969693401_74689dbbef_h.jpg" width="75%" height="100%" alt="IMG_1795"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7236/26969694561_40e06003ab_h.jpg" width="75%" height="100%" alt="IMG_1799"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7606/26969695761_e7015d7d83_h.jpg" width="75%" height="100%" alt="IMG_1802"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7640/26969696811_6fd0e4a67e_h.jpg" width="75%" height="100%" alt="IMG_1803"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7671/26969697881_5864080f40_h.jpg" width="100%" height="100%" alt="IMG_1805"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7334/27038424175_0959642851_h.jpg" width="100%" height="100%" alt="IMG_1812"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7238/26969700811_036cf23485_h.jpg" width="75%" height="100%" alt="IMG_1813"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7505/27038427145_1fa968f503_h.jpg" width="100%" height="100%" alt="IMG_1816"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7050/26969704091_c278933e77_h.jpg" width="75%" height="100%" alt="IMG_1822"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7457/26944028322_2395ccb7f9_h.jpg" width="100%" height="100%" alt="2016-05-13 05.14.59 1"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7539/27038429645_14f76271ab_h.jpg" width="75%" height="100%" alt="IMG_1826"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7099/26969707561_164a3f97ac_h.jpg" width="75%" height="100%" alt="IMG_1827"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7474/27038433215_6c7b8518fd_h.jpg" width="100%" height="100%" alt="IMG_1828"></div>
    <h4 class="img-desc">South Fork Smith River</h4>
    <div class="img"><img src="https://farm8.staticflickr.com/7691/26969711121_b65455c5cc_h.jpg" width="100%" height="100%" alt="IMG_1829"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7188/27038436205_5f10bcf885_h.jpg" width="100%" height="100%" alt="IMG_1832"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7258/27004928846_72c72ef83d_h.jpg" width="100%" height="100%" alt="2016-05-14 06.15.32 1"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7083/26432741844_5e27c4ccdf_h.jpg" width="75%" height="100%" alt="2016-05-15 03.39.24 1"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7509/26763909780_897ba77327_h.jpg" width="100%" height="100%" alt="IMG_1836"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7044/26763912560_f213b6e229_h.jpg" width="100%" height="100%" alt="IMG_1838"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7749/27038442665_12f755bb86_h.jpg" width="100%" height="100%" alt="IMG_1841"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7305/26432739284_d284c43b23_h.jpg" width="100%" height="100%" alt="IMG_1842"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7410/26434616103_c979dac6ee_h.jpg" width="75%" height="100%" alt="IMG_1843"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7657/26432742804_a35ff07642_h.jpg" width="100%" height="100%" alt="IMG_1844"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7645/26434621733_ac6ff8c15a_h.jpg" width="100%" height="100%" alt="IMG_1846"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7141/26432745134_2a7c7cd7b0_h.jpg" width="100%" height="100%" alt="IMG_1849"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7235/26434626543_6081c51e3f_h.jpg" width="75%" height="100%" alt="IMG_1852"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7126/27004935026_92577c0f93_h.jpg" width="100%" height="100%" alt="IMG_1853"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7290/26434630473_72087a504d_h.jpg" width="100%" height="100%" alt="IMG_1855"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7231/26944034572_5adda73b9d_h.jpg" width="100%" height="100%" alt="IMG_1858"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7363/26434635083_4a286db851_h.jpg" width="100%" height="100%" alt="IMG_1865"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7017/26944037132_7ae7308078_h.jpg" width="100%" height="100%" alt="IMG_1877"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7724/26434639323_38072068ea_h.jpg" width="100%" height="100%" alt="IMG_1878"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7299/26969651441_936eae2be6_h.jpg" width="100%" height="100%" alt="IMG_1882"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7209/27004852416_23dc517542_h.jpg" width="100%" height="100%" alt="IMG_1884"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7323/26969997001_8c76249762_h.jpg" width="100%" height="100%" alt="IMG_1896"></div>
    <div>
        <a ng-href="#/#redwoods"><p><span class="glyphicon glyphicon-arrow-left"></span> Back to blog</p></a>
        <a ng-href="#/redwoods/#navbar"><p><span class="glyphicon glyphicon-arrow-up"></span> Back to top</p></a>
    </div>
</div>
