<div class="jumbotron row-post" id="slovenia">
    <div class="post-title">
        <h1 id="top">Slovenia</h1>
        <h3>Part 1</h3>
    </div>

</div>
<div class="description">
        <p>
            For spring break 2016, I solotraveled Slovenia. The first few days were spent in Bled and the rest of the trip was in the capital, Ljubljana.
            Part 1 has pictures from Bled, the surrounding area, and Vintgar Gorge. <a ng-href="#/slovenia-part-2/#navbar"><b><u>Part 2</u></b></a> features Ljubljana, the Škocjan Caves, and Predjama Castle.
        </p>
</div>

<hr id="post-hr">

<div class="center">
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <h4 class="img-desc">On the way to Bled from the airport</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1546/26267772991_912a3c7f67_h.jpg" width="100%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1672/25729147744_711c985486_h.jpg" width="100%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">The AirBnB I stayed in</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1523/26061514420_0826be2b72_h.jpg" width="75%" height="100%" alt="2016-03-17 07.50.36 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1548/26241596582_334da7fef4_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">One of the many pictures of Lake Bled</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1565/25729150164_5555182076_h.jpg" width="100%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">View from my bedroom window</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1501/25729151534_844b6064db_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7296/26454751513_84fc25d20f_h.jpg" width="100%" height="100%" alt="IMG_1495"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7102/26454750053_10a6402d98_h.jpg" width="100%" height="100%" alt="IMG_1496"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1520/26267777591_baadd9bee7_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">St. Martin's Parish Church</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1567/25731245033_8137bcc795_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1619/26267778491_1dad19f5e4_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">Bled Castle</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1559/26308062706_e79b4140c4_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7094/26454748593_921e148ba2_h.jpg" width="100%" height="100%" alt="IMG_1512"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1657/26267781601_351e6f6435_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">Lake Bled from the Castle </h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1535/26241606562_578b489112_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7508/26990233141_382fbcd819_h.jpg" width="100%" height="100%" alt="IMG_1514"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1645/25729161244_eec5bfcba8_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7193/26990230441_ed34edb19f_h.jpg" width="100%" height="100%" alt="IMG_1520"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1493/26267786811_ee96f28099_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">Castle Courtyard</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1690/26061151380_2918f736d2_h.jpg" width="100%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1557/25731254363_153cce4265_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7196/27058258385_c1aebc6d4b_h.jpg" width="100%" height="100%" alt="IMG_1521"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7077/27058256065_21ab89e455_h.jpg" width="100%" height="100%" alt="IMG_1523"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7783/26990224921_b91fad7bc4_h.jpg" width="100%" height="100%" alt="IMG_1524"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7270/26990221681_54a34abbde_h.jpg" width="100%" height="100%" alt="IMG_1526"></div>
    <h4 class="img-desc">Toilet hanging off the side of the Castle</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1700/26267789881_435825ab6a_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">View behind toilet :O</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1623/25729166294_a1203af09b_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1498/26061154010_310ddb0023_h.jpg" width="100%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1577/26334030385_b0deca7b21_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1537/26267796751_b0f15fe1f4_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1497/26267796091_6bfe134e87_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1656/25729172214_28fc54d3e3_h.jpg" width="100%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1604/26241622112_23951d53fe_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1651/26334037295_ab89fd0a1c_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1492/26334037055_89e8bfcb5b_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1609/26334038835_f082f83fb2_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">Laško Brewery is the largest in Slovenia</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1658/26268154461_b2fda0c0f1_h.jpg" width="75%" height="100%" alt="2016-03-18 01.02.35 1"></div>
    <h4 class="img-desc">Pizzeria Rustika</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1708/26061166200_5a5fa38032_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1505/26061168500_4d12189f82_h.jpg" width="100%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1489/26061170620_413f629291_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1714/26267811001_ed1987136a_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1467/26241632862_dd4e8a7427_h.jpg" width="100%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7287/26784064400_414f2ad43d_h.jpg" width="100%" height="100%" alt="IMG_1528"></div>
    <h4 class="img-desc">Beekeeping is one of Slovenia's oldest traditions. The colored panels help orient the bees and make it easier for the beekeeper to identify individual homes.</h4>
    <div class="img"><img src="https://farm8.staticflickr.com/7155/26784062510_494d345338_h.jpg" width="100%" height="100%" alt="IMG_1529"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7220/26784059040_239820beb2_h.jpg" width="100%" height="100%" alt="IMG_1542"></div>
    <h4 class="img-desc">Pletna boats are traditional boats made by the locals of Bled and are the only way to get to the island other than renting a row boat. The oarsmen have a very specific technique for rowing the boat - <a href="https://youtu.be/I8DlXa_933Y?t=24m30s" target="_blank"><b><u>here</u></b></a> is Rick Steves trying.</h4>
    <div class="img"><img src="https://farm8.staticflickr.com/7693/26454738133_9ba0f49ce2_h.jpg" width="100%" height="100%" alt="IMG_1560"></div>
    <h4 class="img-desc">Headed to the island</h4>
    <div class="img"><img src="https://farm8.staticflickr.com/7025/26784060660_e594a35a33_h.jpg" width="100%" height="100%" alt="IMG_1533"></div>
    <h4 class="img-desc">99 stone steps to the top of the island</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1589/26267812801_89f0163887_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">The Church of the Assumption and the Bell Tower</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1505/26061176200_7cbfc08e14_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">View from the Bell Tower</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1702/26241635592_a5f50bf602_h.jpg" width="100%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7752/26784056470_cba1d80aa0_h.jpg" width="100%" height="100%" alt="IMG_1557"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1532/26061175820_d954a66838_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1500/26241640782_1dd0f059f7_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">Rowing facility</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1712/25731282453_5535553611_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1639/26334053135_27f2e9d3e3_h.jpg" width="75%" height="100%" alt="Untitled"></div>
    <h4 class="img-desc">Another rowing facility</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1549/26061182820_5ef3636af4_h.jpg" width="100%" height="100%" alt="2016-04-03 03.12.31 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1703/26334058705_78e7f33d03_h.jpg" width="100%" height="100%" alt="2016-04-03 03.12.55 1"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7597/26454736893_e22b2ed3dc_h.jpg" width="100%" height="100%" alt="IMG_1580"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1620/26334062025_0c01106896_h.jpg" width="75%" height="100%" alt="2016-04-03 03.13.17 1"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7743/26454735443_7ab7368d47_h.jpg" width="100%" height="100%" alt="IMG_1581"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1464/26334061665_6531007b6f_h.jpg" width="75%" height="100%" alt="2016-04-03 03.13.49 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1459/26334062675_9fafd2d5a5_h.jpg" width="75%" height="100%" alt="2016-04-03 03.14.14 1"></div>
    <h4 class="img-desc">Slaščičarna Šmon</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1516/26061203730_b60049c52c_h.jpg" width="75%" height="100%" alt="2016-04-03 03.19.55 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1502/26267832421_cefdd6c445_h.jpg" width="75%" height="100%" alt="2016-04-03 03.14.46 1"></div>
    <h4 class="img-desc">Bled Cream Cake (amazing)</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1489/26061192890_bd2c413450_h.jpg" width="100%" height="100%" alt="2016-04-03 03.15.18 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1662/26308112746_66a9ff2175_h.jpg" width="75%" height="100%" alt="2016-04-03 03.15.39 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1485/26308115976_0fd47d1fa4_h.jpg" width="75%" height="100%" alt="2016-04-03 03.16.14 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1605/26267835581_d732e1fceb_h.jpg" width="75%" height="100%" alt="2016-04-03 03.17.07 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1483/25729209004_3c4353b78e_h.jpg" width="75%" height="100%" alt="2016-04-03 03.17.26 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1457/25731302513_4996d08176_h.jpg" width="75%" height="100%" alt="2016-04-03 03.17.44 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1460/26267838331_3df7c8a014_h.jpg" width="75%" height="100%" alt="2016-04-03 03.18.07 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1567/26241661642_cfeb10932f_h.jpg" width="75%" height="100%" alt="2016-04-03 03.18.34 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1547/26308124276_292b1ac810_h.jpg" width="100%" height="100%" alt="2016-04-03 03.18.58 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1462/26308124686_58cdf1aa16_h.jpg" width="100%" height="100%" alt="2016-04-03 03.19.27 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1495/26308127236_0b34e4307e_h.jpg" width="100%" height="100%" alt="2016-04-03 03.20.14 1"></div>
    <h4 class="img-desc">Abandon building on the hike to Mala Osojnica</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1655/26061211320_38a09356dc_h.jpg" width="75%" height="100%" alt="2016-04-03 03.20.36 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1571/26308129006_ed56228ab3_h.jpg" width="75%" height="100%" alt="2016-04-03 03.21.19 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1518/25731314403_ef9a8534e2_h.jpg" width="75%" height="100%" alt="2016-04-03 03.21.48 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1578/26308137556_7cc352a9d4_h.jpg" width="75%" height="100%" alt="2016-04-03 03.22.08 1"></div>
    <h4 class="img-desc">View from Mala Osojnica</h4>
    <div class="img"><img src="https://farm8.staticflickr.com/7749/26454733503_e334eb713f_h.jpg" width="75%" height="100%" alt="IMG_1587"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7109/26454730833_3233c41f67_h.jpg" width="75%" height="100%" alt="IMG_1590"></div>
    <h4 class="img-desc">Inside the lodge on top of Straža</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1495/26241675342_3827aa8187_h.jpg" width="75%" height="100%" alt="2016-04-03 03.23.15 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1581/26267857371_73f48fdaac_h.jpg" width="100%" height="100%" alt="2016-04-03 03.23.38 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1673/26061221910_33f32ad80c_h.jpg" width="75%" height="100%" alt="2016-04-03 03.23.53 1"></div>
    <h4 class="img-desc">(─‿‿─)</h4>
    <div class="img"><img src="https://farm8.staticflickr.com/7347/26454729563_bb4430712f_h.jpg" width="100%" height="100%" alt="IMG_1596"></div>
    <h4 class="img-desc">A rail sled that is open during the summer</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1550/25729235584_58d176028b_h.jpg" width="75%" height="100%" alt="2016-04-03 03.24.19 1"></div>
    <h4 class="img-desc">On the bike ride to Zasib and Vintgar Gorge</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1503/26334097825_30d592a273_h.jpg" width="100%" height="100%" alt="2016-04-03 03.24.44 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1677/26308146586_b7b1e85f74_h.jpg" width="100%" height="100%" alt="2016-04-03 03.25.19 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1483/26241689622_a687806e20_h.jpg" width="75%" height="100%" alt="2016-04-03 03.26.06 1"></div>
    <h4 class="img-desc">Zasib</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1513/25731330063_a8705dcf37_h.jpg" width="75%" height="100%" alt="2016-04-03 03.26.31 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1516/25731333123_23c55ce567_h.jpg" width="75%" height="100%" alt="2016-04-03 03.27.08 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1485/25731334333_44f539f27a_h.jpg" width="75%" height="100%" alt="2016-04-03 03.27.29 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1626/26061230950_855fe3ed69_h.jpg" width="75%" height="100%" alt="2016-04-03 03.27.52 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1648/26241693772_cd008fd8d3_h.jpg" width="75%" height="100%" alt="2016-04-03 03.28.18 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1611/26267874311_c52412dbda_h.jpg" width="75%" height="100%" alt="2016-04-03 03.28.44 1"></div>
    <h4 class="img-desc">Trail to Vintgar</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1486/25729249384_32e9593e87_h.jpg" width="75%" height="100%" alt="2016-04-03 03.29.45 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1502/26241700442_df8c1d83e9_h.jpg" width="75%" height="100%" alt="2016-04-03 03.30.21 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1690/26061243670_d4a8ca6426_h.jpg" width="75%" height="100%" alt="2016-04-03 03.30.47 1"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7133/26454727933_2b8793a8c8_h.jpg" width="100%" height="100%" alt="IMG_1599"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1711/26308164216_9b9c6f3466_h.jpg" width="75%" height="100%" alt="2016-04-03 03.31.14 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1570/26308164986_2eeb5d15f1_h.jpg" width="75%" height="100%" alt="2016-04-03 03.31.55 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1484/25729261144_69920ccd20_h.jpg" width="75%" height="100%" alt="2016-04-03 03.32.21 1"></div>
    <h4 class="img-desc">Vintgar Gorge</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1475/25731351243_b30e348fbb_h.jpg" width="75%" height="100%" alt="2016-04-03 03.32.47 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1538/26241710002_5ae9f1dadb_h.jpg" width="75%" height="100%" alt="2016-04-03 03.33.49 1"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7679/26454726103_c3e3af0bba_h.jpg" width="75%" height="100%" alt="IMG_1605"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1665/26308175116_ce0c70fb7f_h.jpg" width="75%" height="100%" alt="2016-04-03 03.34.25 1"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7248/26964118182_7c573b1322_h.jpg" width="75%" height="100%" alt="IMG_1608"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7316/26454721433_4c561bdc6b_h.jpg" width="75%" height="100%" alt="IMG_1609"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7494/27025446116_dfb320ce62_h.jpg" width="75%" height="100%" alt="IMG_1612"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1628/26308175796_5a4f4a2227_h.jpg" width="75%" height="100%" alt="2016-04-03 03.34.50 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1472/26334129955_42f8f39abe_h.jpg" width="75%" height="100%" alt="2016-04-03 03.35.23 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1443/25729272414_dfbf9c1875_h.jpg" width="75%" height="100%" alt="2016-04-03 03.35.54 1"></div>
    <div class="img"><img src="https://farm8.staticflickr.com/7358/27025442346_03e8da0e4a_h.jpg" width="75%" height="100%" alt="IMG_1617"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1450/25731360113_942057c8ce_h.jpg" width="75%" height="100%" alt="2016-04-03 03.36.38 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1472/26334136085_e40a4646d8_h.jpg" width="100%" height="100%" alt="2016-04-03 03.36.58 1"></div>
    <h4 class="img-desc">Zasib</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1609/25729276984_5b013763ad_h.jpg" width="75%" height="100%" alt="2016-04-03 03.37.30 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1623/26061264450_456fc8e385_h.jpg" width="75%" height="100%" alt="2016-04-03 03.38.09 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1497/26308186006_197215a524_h.jpg" width="75%" height="100%" alt="2016-04-03 03.40.04 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1611/26334143235_6dc032cb04_h.jpg" width="75%" height="100%" alt="2016-04-03 03.40.06 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1716/25729282094_b1fe476544_h.jpg" width="75%" height="100%" alt="2016-04-03 03.44.08 1"></div>
    <h4 class="img-desc">Inside Gostilna Pri Planincu</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1696/25729281664_8edf9f7d67_h.jpg" width="75%" height="100%" alt="2016-04-03 03.44.11 1"></div>
    <h4 class="img-desc">Lots of license plates</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1654/25729284894_4ba9f59c6c_h.jpg" width="75%" height="100%" alt="2016-04-03 03.44.13 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1554/26334147865_c3b9ec30b9_h.jpg" width="75%" height="100%" alt="2016-04-03 03.44.15 1"></div>
    <h4 class="img-desc">Husqvarna!</h4>
    <div class="img"><img src="https://farm2.staticflickr.com/1624/25729288704_9e4e43df95_h.jpg" width="75%" height="100%" alt="2016-04-03 03.44.17 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1471/26241736082_97a356a8ae_h.jpg" width="75%" height="100%" alt="2016-04-03 03.44.18 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1558/26061280360_6607d6221a_h.jpg" width="75%" height="100%" alt="2016-04-03 03.44.22 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1522/25731380783_9c845d4963_h.jpg" width="100%" height="100%" alt="2016-04-03 03.44.24 1"></div>
    <div class="img"><img src="https://farm2.staticflickr.com/1551/26334150665_efcc3b34fc_h.jpg" width="100%" height="100%" alt="2016-04-03 03.44.20 1"></div>

    <div>
        <p><a ng-href="#/#slovenia"><span class="glyphicon glyphicon-arrow-left"></span> Back to Blog</a></p>
        <p><a ng-href="#/slovenia-part-2/#navbar"><span class="glyphicon glyphicon-arrow-right"></span> Go to Part 2</a></p>
    </div>
</div>
